﻿﻿
<footer>
    <div class="d-flex justify-content-center align-items-center gap-1">
        <span class="text-muted">Made with &#128151; by</span>
        <span class="text-danger">Antonio Simonetti</span>
    </div>
    <div class="text-center">

    </div>
</footer>